@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ccc;
}

.header__title {
  font-weight: 500;
  font-size: 16px;
}

.page__catalog {
  margin: 20px auto;
}

.page__filter {
  margin: 20px 20px;
}

.product-filter {
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.product-filter__button {
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.product-filter__button:hover {
  background-color: #ddd;
}

.product-filter__button_active {
  background-color: #ccc;
}

.filter-checkbox {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.filter-checkbox:hover {
  background-color: #ddd;
}

.filter-checkbox__input {
  cursor: pointer;
}

.filter-checkbox__label {
  margin-left: 5px;
}

.product-catalog {
  display: flex;
  width: 270px;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 40px;
}

.product-catalog__item {
  padding: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 420px;
  background-color: #efefef;
  transition: all 0.5s ease-in-out;
}

.product-item_hidden {
  opacity: .5;
}

.product-item_deleted {
  display: none;
}

.product-item__card {
  flex-grow: 1;
  padding: 30px 15px 15px;
}

.product-item__button-add {
  display: block;
  background-color: #86aac6;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0 auto;
  padding: 0;
}

.product-item:hover .product-item__button-add {
  opacity: 1;
  visibility: visible;
  width: 150px;
  height: 30px;
  font-size: 12px;
  margin: 20px auto 10px;
  padding: 5px 10px;
}

.product-item__button-add:hover {
  background-color: #62a2d2;
}

.product-item__button-add:active {
  background-color: #62a2d2;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.product-card__badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color:#05a9f4;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 0 5px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.product-item:hover .product-card__badge {
  opacity: 1;
  visibility: visible;
} 

.product-card__actions {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}

.product-item:hover .product-card__actions {
  visibility: visible;
  opacity: 1;
}

.product-card__actions-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eeeeee;
  cursor: pointer;
}

.product-card__actions-item:hover {
  background-color: #cccccc;
}

.product-card__actions-item:active {
  background-color: #86aac6;
}

.product-card__actions-item_active {
  background-color: #62a2d2;
}

.product-card__actions-item_active:hover {
  background-color: #86aac6;
}

.product-card__actions-item_active:active {
  background-color: #cccccc;
}

.product-card__description {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center; 
  background-color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  padding-top: 10px;
}

.product-card__photo-container {
  position: relative;
  flex-grow: 1;
  width: 150px;
  max-height: 250px;
  margin: 0 auto 10px;
  overflow: hidden;
}

.product-card__photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.product-card__category {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__stars-container {
  position: relative;
}

.product-stars {
  height: 20px;
  white-space: nowrap;
  color: #ccc;
}

.product-stars_active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  color: #fab404;
}

.product-card__title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__price {
  font-weight: 500;
}

.product-card__price_old {
  text-decoration: line-through;
}

.product-card__price_new {
  color: red;
  margin-right: 5px;
} 

@media (min-width: 620px) {
  .product-catalog {
    width: 580px;
  }
}

@media (min-width: 930px) {
  .product-catalog {
    width: 890px;
  }
}

@media (min-width: 1240px) {
  .product-catalog {
    width: 1200px;
  }
}